cad/step/HEL-06-01003-00.step filter=lfs diff=lfs merge=lfs -text
cad/step/HEL-03-01005-00.step filter=lfs diff=lfs merge=lfs -text
cad/step/HEL-01-01000-01.step filter=lfs diff=lfs merge=lfs -text
