:root {
  --md-primary-fg-color: #008CEB;
  --md-accent-fg-color: #0F3C91;
  /* --md-primary-bg-color:
  --md-accent-bg-color:  */
}

<style>table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

</style>