:root {
  --md-primary-fg-color: #0F3C91;
  --md-accent-fg-color: #008CEB;

}

<style>table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

</style>